@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {    
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
}

.fx_12_500 {
    font-size: 12px;
    font-weight: 500;
}
.fx_12_400 {
    font-size: 12px;
    font-weight: 400;
}
.fx_15_400 {
    font-size: 15px;
    font-weight: 400;
}
.fx_18_400 {
    font-size: 18px;
    font-weight: 400;
}
.fx_18_500 {
    font-size: 18px;
    font-weight: 500;
}
.fx_39_500 {
    font-size: 39px;
    font-weight: 500;
}

.fx_40_300 {
    font-size: 40px;
    font-weight: 300;
}

.mr_2 {
    margin-right: 2px;
}

.mr_4 {
    margin-right: 4px;
}

.mb_4 {
    margin-bottom: 4px;
}

.flex_row_global {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
}

.color_light_purple {
    color: #BBC0FF;
}